body {
  font-family: 'Poppins', sans-serif;
  color: rgb(20, 7, 85);
}
.navbar-custom {
  background-color: rgb(20, 7, 85);
}
.navbar-custom .navbar-brand {
            color:white;
}
/* Hero Section */ 

#Hero-Section{
  background-image: url("../img/yamil_foto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  
  
}

/* Mis trabajos */
#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.colorfondo {
  background-color: rgb(20, 7, 85);
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: rgb(20, 7, 85);
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
